h1 {
	font-family: 'Bebas Neue';
	color: #501B1D;
	font-size: 50px;
}
h2 {
	font-family: 'Bebas Neue';
	color: #64485C;
	font-size: 25px;
}
body {
	color: #2E1114;
	font-family: 'Courier New';
	background-color: #ADADAD;
}